### Same as EDA

In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dfs = pickle.load(open('dfs_churn_marked.p'))

In [3]:
def dropping_col(dfs, col_name):
    if col_name in dfs.columns:
        dfs = dfs.drop(col_name, axis = 1)
    return dfs

drop_col_lst = ['abtm','coiso','gen','mvcp','mvrt','mvsctg','stype','utype','v']
for col in drop_col_lst:
    dfs = dropping_col(dfs,col)

In [4]:
# Only columns of interest
tmp_dfs = dfs[['ts2','drt','errmsg','mplyevnt','spos','ssid','szrid','tBuf','tIBuf','tLBuf','tPld','tVH','tid','type','uid','churn']]

In [5]:
tmp_dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182000 entries, 0 to 181999
Data columns (total 16 columns):
ts2         182000 non-null datetime64[ns]
drt         182000 non-null int64
errmsg      2262 non-null object
mplyevnt    41523 non-null object
spos        167826 non-null object
ssid        182000 non-null object
szrid       182000 non-null object
tBuf        182000 non-null int64
tIBuf       182000 non-null int64
tLBuf       182000 non-null int64
tPld        182000 non-null int64
tVH         182000 non-null int64
tid         182000 non-null object
type        182000 non-null object
uid         182000 non-null object
churn       182000 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(6), object(8)
memory usage: 22.4+ MB

In [6]:
tmp_dfs_rmv_tid_Uns = tmp_dfs[tmp_dfs['tid']!='Unset']
print type(tmp_dfs_rmv_tid_Uns)

<class 'pandas.core.frame.DataFrame'>

In [7]:
uid_grouped_rmv_tid_Uns = tmp_dfs_rmv_tid_Uns.groupby('uid')

In [8]:
#for uid in uid_grouped_rmv_tid_Uns.groups.keys():
#    uid_grouped_rmv_tid_Uns.get_group(uid)

### Each uid group looks like this...

In [9]:
uid_lst = uid_grouped_rmv_tid_Uns.groups.keys()
print type(uid_grouped_rmv_tid_Uns.get_group(uid_lst[0]))

# uid_lst[0]
uid_grouped_rmv_tid_Uns.get_group(uid_lst[0])

<class 'pandas.core.frame.DataFrame'>

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
6555,2017-04-03 23:57:00.018,3813000,NaN,NaN,V0039,63a7e7ee-ff72-48d8-b854-043bdd00f70f,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,3994,e0da7441-cd4f-4962-8365-e26e1458eae4,vh,WUCH155102022,False
26656,2017-04-13 23:45:14.807,0,NaN,NaN,V0051,01b31712-a0b0-49ff-ad6e-976c78c59e92,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5004,0,0,8abb50c7-fc59-4450-8639-dfc2d5ac5529,vh,WUCH155102022,False
36667,2017-04-18 23:47:56.117,0,NaN,NaN,V0064,613977b9-eca3-4320-8eb9-20b638ff8177,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,e184ef5f-9edc-4d2a-8e4a-5ffbdc5d67a1,vh,WUCH155102022,False
44113,2017-04-22 23:45:02.299,3410000,NaN,brchg,L2346,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,806,0,5003,0,8046,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
44360,2017-04-22 23:45:07.305,6010000,NaN,brchg,V0043,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5004,0,32326,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
44958,2017-04-22 23:45:22.322,0,NaN,NaN,V0000,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
45291,2017-04-22 23:45:32.334,0,NaN,NaN,V0008,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
45783,2017-04-22 23:45:42.345,0,NaN,NaN,NaN,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
65922,2017-05-02 23:49:11.109,0,NaN,NaN,NaN,15141a56-da86-4048-a56a-7a440aa086cd,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,2c1ce70a-7589-4757-8a0d-eab0601012f2,vh,WUCH155102022,False
84160,2017-05-12 23:52:23.070,2079000,NaN,brchg,V0044,7be0ef22-dd00-42c8-8f73-3aaf8b39b9b1,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5003,0,11948,a5f75d24-42b5-4f6e-b229-f5c71d923c7c,mplyevent,WUCH155102022,False
85007,2017-05-12 23:52:48.224,0,NaN,NaN,V0062,00da9ce8-9723-47d2-896f-285d4357389f,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,f6d5771f-387b-481f-a04d-7757b3ff7601,mplyevent,WUCH155102022,False
87207,2017-05-13 23:48:07.660,0,NaN,NaN,V0041,09034805-d76f-47cc-816a-31b4d37baf65,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,98cff44f-3e52-4570-b152-fa4a4b4757d2,vh,WUCH155102022,False
90601,2017-05-15 23:54:45.794,5153000,NaN,NaN,V0067,70bf08c6-aefe-41f0-b099-ab7255517905,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5003,0,4027,7a5c5cae-dd11-4658-961e-15b38c6e0f35,vh,WUCH155102022,False
151686,2017-06-14 23:56:38.794,0,NaN,NaN,V0014,dfd1b51a-3d76-43a5-aec9-5e464495c133,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,c9fe6461-770b-4cde-99b1-4eb83660b31e,vh,WUCH155102022,False
176569,2017-06-27 23:53:25.886,0,NaN,NaN,V0075,77d79238-0bda-4447-b6ac-c5a0219a1af2,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5003,0,4044,a0708b2d-4f54-45b9-b7ad-9b57816cdceb,vh,WUCH155102022,False

In [24]:
# uid_lst[1]
#uid_grouped_rmv_tid_Uns.get_group(uid_lst[1])

### Each tid group within a uid group

In [11]:
# tid group within uid_lst[0]
uid_tid_grouped_rmv_tid_Uns = uid_grouped_rmv_tid_Uns.get_group(uid_lst[0]).groupby('tid')

In [25]:
# tids within uid_lst[0]
uid_tid_lst = uid_tid_grouped_rmv_tid_Uns.groups.keys()

In [37]:
uid_tid_lst

[u'e184ef5f-9edc-4d2a-8e4a-5ffbdc5d67a1',
 u'e0da7441-cd4f-4962-8365-e26e1458eae4',
 u'f6d5771f-387b-481f-a04d-7757b3ff7601',
 u'8a3142a5-10c3-41ac-bce7-5cb5fd725aaa',
 u'98cff44f-3e52-4570-b152-fa4a4b4757d2',
 u'8abb50c7-fc59-4450-8639-dfc2d5ac5529',
 u'a5f75d24-42b5-4f6e-b229-f5c71d923c7c',
 u'7a5c5cae-dd11-4658-961e-15b38c6e0f35',
 u'a0708b2d-4f54-45b9-b7ad-9b57816cdceb',
 u'2c1ce70a-7589-4757-8a0d-eab0601012f2',
 u'c9fe6461-770b-4cde-99b1-4eb83660b31e']

In [27]:
# group with uid_lst[0] and uid_tid_lst[0]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[0])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
36667,2017-04-18 23:47:56.117,0,NaN,NaN,V0064,613977b9-eca3-4320-8eb9-20b638ff8177,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,e184ef5f-9edc-4d2a-8e4a-5ffbdc5d67a1,vh,WUCH155102022,False

In [28]:
# group with uid_lst[0] and uid_tid_lst[1]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[1])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
6555,2017-04-03 23:57:00.018,3813000,NaN,NaN,V0039,63a7e7ee-ff72-48d8-b854-043bdd00f70f,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,3994,e0da7441-cd4f-4962-8365-e26e1458eae4,vh,WUCH155102022,False

In [29]:
# group with uid_lst[0] and uid_tid_lst[2]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[2])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
85007,2017-05-12 23:52:48.224,0,NaN,NaN,V0062,00da9ce8-9723-47d2-896f-285d4357389f,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,f6d5771f-387b-481f-a04d-7757b3ff7601,mplyevent,WUCH155102022,False

In [30]:
# group with uid_lst[0] and uid_tid_lst[3]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[3])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
44113,2017-04-22 23:45:02.299,3410000,NaN,brchg,L2346,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,806,0,5003,0,8046,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
44360,2017-04-22 23:45:07.305,6010000,NaN,brchg,V0043,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5004,0,32326,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
44958,2017-04-22 23:45:22.322,0,NaN,NaN,V0000,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
45291,2017-04-22 23:45:32.334,0,NaN,NaN,V0008,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False
45783,2017-04-22 23:45:42.345,0,NaN,NaN,NaN,07a97642-ed6f-4d31-9230-96c3cda95032,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,8a3142a5-10c3-41ac-bce7-5cb5fd725aaa,lBuf,WUCH155102022,False

In [31]:
# group with uid_lst[0] and uid_tid_lst[4]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[4])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
87207,2017-05-13 23:48:07.660,0,NaN,NaN,V0041,09034805-d76f-47cc-816a-31b4d37baf65,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,0,0,0,98cff44f-3e52-4570-b152-fa4a4b4757d2,vh,WUCH155102022,False

In [32]:
# group with uid_lst[0] and uid_tid_lst[5]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[5])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
26656,2017-04-13 23:45:14.807,0,NaN,NaN,V0051,01b31712-a0b0-49ff-ad6e-976c78c59e92,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5004,0,0,8abb50c7-fc59-4450-8639-dfc2d5ac5529,vh,WUCH155102022,False

In [33]:
# group with uid_lst[0] and uid_tid_lst[6]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[6])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
84160,2017-05-12 23:52:23.070,2079000,NaN,brchg,V0044,7be0ef22-dd00-42c8-8f73-3aaf8b39b9b1,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5003,0,11948,a5f75d24-42b5-4f6e-b229-f5c71d923c7c,mplyevent,WUCH155102022,False

In [34]:
# group with uid_lst[0] and uid_tid_lst[7]
uid_tid_grouped_rmv_tid_Uns.get_group(uid_tid_lst[7])

,ts2,drt,errmsg,mplyevnt,spos,ssid,szrid,tBuf,tIBuf,tLBuf,tPld,tVH,tid,type,uid,churn
90601,2017-05-15 23:54:45.794,5153000,NaN,NaN,V0067,70bf08c6-aefe-41f0-b099-ab7255517905,172ad403-e70c-4ce7-84d0-392fe745ddcf,0,0,5003,0,4027,7a5c5cae-dd11-4658-961e-15b38c6e0f35,vh,WUCH155102022,False

In [ ]:
# tids with uid_lst[0]
for tid in uid_tid_lst:
    if uid_tid_grouped_rmv_tid_Uns.get_group(tid).shape[0]!=1:
        print uid_tid_grouped_rmv_tid_Uns.get_group(tid)
        print '=='*40

In [ ]:
for uid in uid_lst[:10]:
    print '**'*10,'uid: ',uid,'**'*20
    uid_tid_grouped_rmv_tid_Uns = uid_grouped_rmv_tid_Uns.get_group(uid).groupby('tid')
    uid_tid_lst = uid_tid_grouped_rmv_tid_Uns.groups.keys()
    for tid in uid_tid_lst:
        if uid_tid_grouped_rmv_tid_Uns.get_group(tid).shape[0]!=1:
            print uid_tid_grouped_rmv_tid_Uns.get_group(tid)
            print '=='*40